@import "/styles/variables";

.filters {
  min-width: 224px;
  display: flex;
  flex-direction: column;
  padding: 47px 20px 5px;

  .filter{
    order: 3;
  }

  h1 {
    font-size: 26px;
    font-weight: 700;
    line-height: 36.4px;
    margin-bottom: 24px;
    color: $black;
    order: 2;
    overflow-wrap: break-word;
  }

  .quantity {
    order: 2;
    font-size: 14px;
    font-weight: 500;
    color: $grey;
    line-height: 19.6px;
    margin-bottom: 6px;
  }
}

@media (min-device-width: 576px) {
  .filters {
    padding: 12px 0;
    position: sticky;
    top: 0;

    h1 {
      margin-bottom: 13px;
    }

    .quantity {
      order: 1;
      margin-bottom: 5px;
    }
  }
}
