.products {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-device-width: 576px) {
  .products {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left:38px;
    justify-content: space-between;
    max-width: min-content;
  }
}

@media (min-device-width: 857px) {
  .products {
    max-width: max-content;
    justify-content:space-evenly;
  }
}
@media (min-device-width: 1366px) {
  .products {
    justify-content: flex-start;
  }
}
