.products {
  display: flex;
  flex-direction: column;

  .noProducts{
    padding-top: 12px;
    font-size: 24px;
  }
}

@media (min-device-width: 576px) {
  .products {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left:38px;
    justify-content: flex-start;
  }
}
