.products {
  display: flex;
  flex-direction: column;
}

@media (min-device-width: 576px) {
  .products {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-device-width: 768px) {
  .products {
    max-width: 512px;
  }
}

@media (min-device-width: 992px) {
  .products {
    max-width: 532px;
  }
}

@media (min-device-width: 1200px) {
  .products {
    max-width: 798px;
    justify-content: flex-start;
  }
}

@media (min-device-width: 1400px) {
  .products {
    max-width: none;
  }
}