@import "../../../../styles/variables";

.price {
  border: 1px solid $light-grey;

  &:hover {
    border: 1px solid $grey-hover;
  }
  max-width: 224px;
  margin-bottom: 48px;
  border-radius: 4px;
}

.max_price, .min_price {
  height: 100%;
  width: 50%;
  padding: 10px 12px 12px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border: 0;
  cursor: pointer;
  outline: none;

  &:hover {
    border: 0;
  }
}

.min_price {
  border-right: 1px solid $grey-hr;

  &:hover {
    border-right: 1px solid $grey-hr;
  }
}

.title {//вынеси мусор
  color: #1B1B1B;
  font-size: 16px;
  line-height: 22.4px;
  display: inline-block;
  font-weight: 700;
  margin: 12px 0;
}

.min_price::-webkit-outer-spin-button,
.min_price::-webkit-inner-spin-button,
.max_price::-webkit-outer-spin-button,
.max_price::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
