@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#__next{
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  max-width: 1366px;
  min-height: 100vh;
}

@media (min-device-width: 576px) {

  main {
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
  }
}
